/* add fonts */
@font-face {
  font-family: "Mitr";
  src: url("font/mitr-bold-webfont.woff2") format("woff2"),
       url("font/mitr-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Moul";
  src: url("font/moul-regular-webfont.woff2") format("woff2"),
       url("font/moul-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MPlus";
  src: url("font/mplus1p-medium-webfont.woff2") format("woff2"),
       url("font/mplus1p-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("font/opensans-italic-variablefont_wdthwght-webfont.woff2") format("woff2"),
       url("font/opensans-italic-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "MPlus", Arial, sans-serif;
  font-size: 1.2rem;
  background-color: #f7f7f7;
}

.navbar {
  flex-wrap: flex;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.5rem;
  background-color: rgb(200,147,136);
}

.logo {
  font-family: "Mitr", sans-serif;
  font-weight: bold;
  margin: 0;
}

nav a {
  font-family: "OpenSansItalic", Arial, sans-serif;
  letter-spacing: 0.05em;
  margin-left: 1.2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline;
}

main {
    background-color: rgb(243,230,213);
    border-radius: 1rem;
  width: min(56rem, 92vw);
  margin: 2.5rem auto;
  padding: 2.5rem;
}

.profile-img {
  width: clamp(10rem, 30vw, 16.25rem);
  border-radius: 1rem;
  margin: 1.25rem 0 1.8rem 0;
}

.about-layout {
  display: flex;
  gap: 2.5rem;
  align-items: flex-start;
  margin-top: 1.8rem;
}

.about-text{
    max-width: 30rem;
}

.about-text p {
  line-height: 1.6;
  font-size: 1rem;
}

.about-text ul {
  font-size: 1rem;
  line-height: 1.6;
  padding-left: 1.2rem;
}

.about-text li {
  margin-bottom: 0.5rem;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

h2 {
  font-family: "Moul", sans-serif;
  margin-top: 0;
}

h3 {
  font-family: "Moul", sans-serif;
}

.svg-box{
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 700px){
  .about-layout{
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
  }

  .about-text{
    max-width: 100%;
  }

  .profile-img{
    width: min(16rem, 80%);
    margin: 0;
  }
}